.advertisement{
 height: 430px;
}

.sign_background{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );    background-size: cover;
    height:600px;
}

.color{
    background: black;
}

.table{
   background-color: black; 
}
